@import url(../home/styles/style.css);


.about- {
    margin: 80px auto;
    width: 90vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-image: url('../images/background-about.jpg');
}

.about- h2 {
    padding-top: 15%;
    color: whitesmoke;
    font-size: 8vmin;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.about-img {


    display: flex;
    flex-wrap: wrap;
}

.image {
    margin: 100px auto;
    width: 580px;
    height: 500px;
}

.about-text {
    margin: 10% auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.about-text h2 {

    font-size: 8vmin;
    font-weight: bolder;
}

.about-text h4 {

    font-size: 3vmin;
    color: rgb(112, 110, 110);
    font-weight: 500;
}

.about-text p {
    font-weight: 500;
    color: gray;
    width: 500px;
    font-size: 2vmin;
    word-spacing: 2px;
}

.men-img {
    width: 40px;
    height: 40px;
}

.row-foot span {
    letter-spacing: 3px;
    margin: 10px;
}


.overlay {
    text-align: center;
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 37%;
}

.container {
    position: relative;
}

.images {
    display: block;
    padding: 0;
    margin: 0;
    width: 379px;
    height: auto;
}

.image-gallery-about {
    display: flex;
    flex-wrap: wrap;
}

.wanted h4 {
    padding-left: 4%;
    color: whitesmoke;
    text-align: left;
}

.wanted h6 {
    padding-left: 4%;
    color: whitesmoke;
    text-align: left;
    font-size: 20px;
    padding-bottom: 5%;
}

.wanted span {
    color: black;
}

.wanted span:hover {
    color: #f85738;
    cursor: pointer;
    transition: .3s ease;

}


@media screen and (max-width:850px) {


    .about-img {


        display: flex;
        flex-wrap: wrap;
        align-self: center;
    }

    .image {
        margin: 3% auto;
        width: 580px;
        height: 500px;
    }

    .about-text {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

    }

    .about-text h2 {

        font-size: 40px;
        width: 260px;
        font-weight: bolder;
    }

    .about-text h4 {
        width: 260px;
        font-size: 25px;
        color: rgb(112, 110, 110);
        font-weight: 500;
    }

    .about-text p {
        width: 250px;
        font-weight: 500;
        color: gray;
        font-size: 6vmin;
        word-spacing: 2px;
    }

    .men-img {
        width: 30px;
        height: 30px;
    }

    .row-foot span {
        letter-spacing: 2px;
        margin: 5px;
    }

    .wanted span {
        color: #f85738;
        cursor: pointer;
        transition: .3s ease;

    }

}